html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}


// V a r i a b l e s 
$blue: #0066FF;
$black: #151515;



//H e a d e r 

.header {
  background-color: grey;

  .header-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;

    .header-inner {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .logo-img {
        width: 70px;
      }

      .header-nav {

        .header-list {
          display: flex;
          gap: 35px;

          .nav-item {

            .nav-link {
              color: #fff;
              text-transform: uppercase;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.header-main {
  background-color: transparent; //will be only on the main page
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  background: rgba(5, 5, 5, 0.3);

}


//F o o t e r 

.footer {
  background-color: $black;
  color: white;
  padding: 30px 0;

  .footer-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;

    .footer__menu {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      .footer__menu-list {
        max-width: 250px;

        .footer__menu-title {
          padding-bottom: 10px;
        }

        .footer__menu-item {
          padding-bottom: 8px;

          .footer__menu-link {}
        }
      }
    }
  }

  .app {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;


    .app__item-img {
      width: 130px;
    }
  }

  .footer__copy {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 12px;

  }

  .copy__nav {
    .copy__nav-list {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
}

.wrapper-content {
  flex-grow: 1;

}

// M a i n   P a g e 

.top {
  color: #fff;
  margin-top: 250px;
  padding-bottom: 50px;
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;

  .container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;

    .top__title {
      font-size: 90px;
      padding-bottom: 40px;

    }

    .top__link {
      display: inline-block;
      max-width: 400px;
      width: 100%;
      padding: 20px;
      font-size: 36px;
      text-transform: uppercase;
      background-color: $black;
    }

  }

}




.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;


}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.swiper-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.3);
}

.swiper-pagination-bullets {}

.swiper-pagination-bullet {
  background-color: $black;
  height: 3px;
  width: 100px;
  border-radius: 0;
  padding-right: 5px;
  opacity: 1;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 30px;
}

// W h y   L e a s e      s e c t i o n 
.why-lease {
  padding: 80px 0;

  .why-lease__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
  }

  .why-lease__list {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;

    .why-lease__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 270px;

      .why-lease__item-img {
        height: 150px;
        width: 150px;
        border: 1px solid $blue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 60px;
          color: $blue;
        }
      }

      .why-lease__item-title {
        margin: 30px 0;
        font-size: 24px;
      }

      .why-lease__item-text {
        line-height: 1.3;
      }
    }
  }
}


//How does Leasing work   s e c t i o n 
.how-does {
  max-width: 620px;
  margin-bottom: 80px;
  margin: 0 auto;

  .how-does__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  .how-does_desc {
    margin: 50px 0;

  }

  .details-title {
    font-size: 24px;
  }

  .how-does__details {
    margin: 30px 0;

    .how-does__detail {

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &+.how-does__detail {
        margin-top: 30px;
      }

      .detail-number {
        font-size: 48px;
        height: 100px;
        width: 100px;
        background-color: $blue;
        border-radius: 50%;
        line-height: 100px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 70px;
      }


      .detail-desc__container {
        display: flex;
        justify-content: center;
        align-items: center;

        .detail-desc {
          width: 300px;
        }
      }
    }
  }

  .how-does_desc {
    font-size: 16px;
    line-height: 1.3;
  }
}

// M a i n P a g e   V i d e o    S e c t i o n    

.vid-section {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .vid-section__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .vid-section__sub-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
  }

}

// Important section (Main Page)
.important {
  padding-bottom: 100px;

  .important__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .important__text {
    max-width: 580px;
    margin: 0 auto 30px;
  }

  .important__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .important__item {
      max-width: 270px;

      .important__item-img {
        margin-bottom: 10px;
        width: 270px;
        height: 150px;
        object-fit: cover;
      }

      .important__item-desc {}
    }
  }
}



// CONTACTS PAGE
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 150px 0;


  .contacts__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .contacts__subtitle {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

  }

  .contacts__form {
    color: $black;
    margin: 50px auto;
    max-width: 600px;



    .upper-inputs {
      display: flex;
      justify-content: space-between;

      .name-block {
        .name__input {
          padding: 20px;
          width: 270px;
          border: 1px solid #0066FF;

          &:focus {
            outline: none;
          }
        }
      }

      .phone-block {
        .phone__input {
          width: 270px;
          padding: 20px;
          border: 1px solid #0066FF;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .textarea-block {
    .textarea__input {
      border: 1px solid #0066FF;
      min-height: 290px;
      margin-top: 40px;
      padding: 20px;
      resize: none;
      outline: none;
      width: 600px;

    }
  }

  .form-btn {
    margin-top: 40px;
    padding: 13px 60px;
    width: 180px;
    background-color: $black;
    color: white;


    &:hover {
      cursor: pointer;
    }
  }
}

.error {
  position: absolute;
}

.form-btn {
  display: block;
  margin: 0 auto;
}

.success-message {
  position: absolute;
}